<section id="hero">
    <div class="content">
        <!-- Semantic Heading -->
        <h1 class="hero-title">
            <span class="visually-hidden">Lukas Rozado | Professional Data Scientist & Data Analyst</span>
            <svg xmlns="http://www.w3.org/2000/svg" id="welcome" viewBox="0 0 800 200">
                <text text-anchor="start" alignment-baseline="middle" fill="none" stroke="#00D4FF" stroke-width="2" font-size="48" font-family="Roboto">
                    Welcome
                </text>
            </svg>
        </h1>

        <p aria-describedby="hero-description">
            My name is Lukas Rozado. I turn ideas into digital reality, data into powerful strategies, and technology into innovation. 
            Data Scientist, and Data Analyst. Exploring innovative solutions 
            that solve complex challenges with simplicity.
        </p>
    </div>
    <div class="image-container">
        <img src="./assets/images/hero-image-lukas-rozado.webp" alt="Developer working with data illustration">
    </div>
</section>