<footer>
    <p>© 2025 Lukas Rozado</p>
    <div id="social-links">
        <a href="https://github.com/lukasrozado" target="_blank" id="profile-link"><img src="./assets/images/github.webp" alt="GitHub" class="social-icon" loading="lazy"></a>
        <a href="https://www.linkedin.com/in/lukasrozado/" target="_blank"><img src="./assets/images/linkedin.webp" alt="LinkedIn" class="social-icon" loading="lazy"></a>
        <a href="https://www.instagram.com/lukasrozado/" target="_blank"><img src="./assets/images/instagram.webp" alt="Instagram" class="social-icon" loading="lazy"></a>
        <a href="https://kaggle.com/lukasrozado" target="_blank"><img src="./assets/images/kaggle.webp" alt="Kaggle" class="social-icon" loading="lazy"></a>
        <a href="https://roadmap.sh/u/lukasrozado" target="_blank"><img src="./assets/images/roadmap.webp" alt="Roadmap" class="social-icon" loading="lazy"></a>
        <a href="https://www.datacamp.com/portfolio/lukasrozado" target="_blank"><img src="./assets/images/datacamp.webp" alt="Datacamp" class="social-icon" loading="lazy"></a>
    </div>
</footer>
