<section id="hero">
    <div class="content">
        <!-- Semantic Heading -->
        <h1 class="hero-title">
            <span class="visually-hidden">Lukas Rozado | Data Scientist & Data Analyst</span>
        </h1>
            <svg xmlns="http://www.w3.org/2000/svg" id="welcome" viewBox="0 0 800 200">
                <text text-anchor="start" alignment-baseline="middle" fill="none" stroke="#00D4FF" stroke-width="2" font-size="48" font-family="Roboto">
                    Welcome
                </text>
            </svg>
        

        <p aria-describedby="hero-description">
            Meu nome é Lukas Rozado. Eu transformo ideias em realidade digital, dados em estratégias poderosas e tecnologia em inovação. 
            Cientista de dados e analista de dados. Explorando soluções inovadoras 
            que resolvem desafios complexos com simplicidade.
        </p>
    </div>
    <div class="image-container">
        <img src="./assets/images/hero-image-lukas-rozado.webp" alt="Developer working with data illustration">
    </div>
</section>