#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
    background: linear-gradient(90deg, #0A0A23 60%, #002D40 100%);
    color: #FFFFFF;
    min-height: 70vh;
    margin-top: -40px;
    width: 100%;
    max-width: 100vw;
}

#hero .content {
    max-width: 50%;
}

#hero p {
    margin-top: -30px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #FFFFFF;
}

#welcome {
    display: block;
    margin-left: 0;
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

#welcome text {
    transform: translate(0px, 100px);
    font-size: 7rem;
    fill: none;
    stroke: #00D4FF;
    stroke-width: 2px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: stroke-animation 10s linear forwards, fill-animation 4s 4s forwards;
}

#hero .image-container img {
    max-width: 100%;
    height: auto;
    padding-right: 0;
}

#hero .image-container {
    overflow: hidden;
}

@media (max-width: 480px) {
    #welcome text {
        font-size: 3.5rem;
        transform: translateY(40%) !important;
    }
}